version: '3.1'

services:
    adminer:
        image: {{ adminer.image }}
        restart: always
{% if db.ports is defined %}
        ports:
            {{ adminer.ports | to_nice_yaml }}
{% endif %}
