version: '3.1'

services:
  {% for db in database.value %}
  db:
    image: {{ db.image }}
    restart: always
    environment:
      {{ db.environment }}

  {% endfor %}

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
