@import "macchiato.css";

* {
  font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 13px;
  transition-property: background-color;
  transition-duration: .5s;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}
flat {
    color: red;
}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover,
#tray:hover,
#pulseaudio:hover,
#workspaces button:hover {
  /* background-color: @surface2; */
  background: inherit;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.1), inset 0 4px 20px rgba(255, 255, 255, 0.13);
}

#workspaces {
    padding: 0;
    margin: 0;
    border-radius: 13px;
}
#workspaces button {
  padding: 0 10px;
  background-color: transparent;
  color: #ffffff;
}
#workspaces button:first-child {
    padding-left: 10px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}
#workspaces button:last-child {
    padding-right: 10px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
}

#workspaces button.focused {
  background-color: @lavender;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-lock,
#custom-power,
#custom-reboot,
#custom-sleep,
#tray {
  padding: 0 5px;
}

#pulseaudio {
  color: @maroon;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  padding-left: 10px;
}

#network {
  color: @yellow;
}

#temperature {
  color: @sky;
}

#battery {
  color: @green;
}

#clock {
  color: @flamingo;
}

#window {
  color: @rosewater;
}

/* .modules-right, */
.modules-left,
.modules-center {
  background-color: @base;
  border-radius: 15px;
}
#right,
#power {
  background-color: @base;
  border-radius: 15px;
}
#right {
  margin-right: 5px;
}
#power {
  padding-left: 5px;
  padding-right: 8px;
  border-radius: 13px;
  border-radius: 13px;
  /* border: 1px solid @surface0; */
}

.modules-right {
  /* padding: 0 5px; */
}

.modules-left {
  /* padding: 0 5px; */
}

.modules-center {
  padding: 0 10px;
}

#battery.charging,
#battery.plugged {
  color: @sapphire;
}

@keyframes blink {
  to {
    color: #000000;
  }
}

/* using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#pulseaudio.muted {
  color: @text;
}

.drawer-child { }

#custom-lock,
#custom-power,
#custom-reboot,
#custom-sleep {
    color: #babbf1;
}
#custom-lock:hover,
#custom-power:hover,
#custom-reboot:hover,
#custom-sleep:hover {
  color: #e78284;
}

